<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shared Task</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container text-center">
      <div
        class="flex min-h-full flex-col justify-center px-6 py-5 lg:px-8 sm:mx-auto sm:w-full sm:max-w-sm"
      >
        <h2
          class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
        >
          Shared Task
        </h2>
      </div>

      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-4">
          <h2 class="text-base font-semibold leading-7 text-gray-900">
            Task Title:
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">
            <%= task.title %>
          </p>
        </div>

        <div class="border-b border-gray-900/10 pb-4">
            <h2 class="text-base font-semibold leading-7 text-gray-900"></h2>
                Description:
            </h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">
                <%= task.description %>
            </p>
        </div>

        <div class="border-b border-gray-900/10 pb-4">
            <h2 class="text-base font-semibold leading-7 text-gray-900"></h2>
                Date:
            </h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">
                <%= task.date %>
            </p>
        </div>

        <div class="border-b border-gray-900/10 pb-4">
            <h2 class="text-base font-semibold leading-7 text-gray-900"></h2>
                Time:
            </h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">
                <%= task.time %>
            </p>
        </div>

        <div class="border-b border-gray-900/10 pb-4">
            <h2 class="text-base font-semibold leading-7 text-gray-900"></h2>
                Location:
            </h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">
                <%= task.location %>
            </p>
        </div>

        <div class="border-b border-gray-900/10 pb-4">
            <h2 class="text-base font-semibold leading-7 text-gray-900"></h2>
                Image:
            </h2>
            <% if (task.image) { %>
                <img src="/uploads/<%= task.image %>" alt="Task Image" class="task-image">
            <% } %>
        </div>
        <p class="mt-10 text-center text-sm">
            <a href="/" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Back to homepage</a>
          </p>
      </div>
    </div>
  </body>
</html>
